/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/03  

***********************************************************************************************
		1 通用
		2.基本結構
		  2.1 頁面頂部
		  2.2 頁面底部
		  2.3 網站主選單
		  2.4 網站隱藏選單
		3.內頁結構
		  3.1 卡片式列表
		  3.2 內文
		  3.3 愛客戶  		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background:#FFF;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#727171}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#fa8332}
form{margin:0; padding:0}
image{border:0}
::selection { background:#3a3b3c; color:#FFF}
::-moz-selection{ background:#3a3b3c; color:#FFF}
.clean{ clear:both}
.hidden{ display:none}

/* 2. 基本結構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block}

/*2.1 頁面頂部---------------------------*/
#page_top{ display:block; width:100%; height:80px; background:#3a3b3c}
header{ display:block; position:relative; width:1162px; margin:0 auto; padding-top:14px}
header h1 a{
	display:block;
	width:219px;
	height:52px;
	background:url(../images/logo.png) no-repeat;
	margin:0 auto;
	text-indent:-9999px}
#subtool{ display:block; position:absolute; width:65px; top:40px; right:0}
#subtool li a{ display: block; float:left; width:23px; height:22px; text-indent:-9999px; background:url(../images/icon_subtool.png) no-repeat}
#subtool .link_fb{ background-position: 0 0;  margin-right:10px}
#subtool .link_fb:hover{ background-position: -23px 0}
#subtool .link_mail{ background-position: 0 -22px}
#subtool .link_mail:hover{ background-position: -23px -22px}
	
/*2.2 頁面底部---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}
#main_content{padding-bottom:52px}
.clearfix:after{content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden}
.clearfix {display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%}
.clearfix {display: block}
/* End hide from IE-mac */
   
/*版權列*/
footer{
	display:block;
	width:100%;
	height:39px;
	background:#3a3b3c;
	margin-top:-52px;
	padding-top:13px;
	color:#fbf8f8;
	text-align:center}
footer p{ display:none}
#sub_nav{display:block; width:1162px; margin:0 auto}
#sub_nav li{ display:inline; font-size:.938em; line-height:25px;}
#sub_nav a:link {text-decoration:none; color:#b5b1b1}
#sub_nav a:visited {text-decoration:none; color:#b5b1b1}
#sub_nav a:hover {text-decoration:none; color:#fa8332}
#sub_nav .pd-right{ padding-right:70px}

/*2.3 網站主選單---------------------------*/
#contenter{ display:block; width:1162px; margin:0 auto; padding:15px 0 30px}
nav{
	display:block;
	width:100%;
	margin:22px 0;
	padding:12px 0;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
	text-align:center}
nav ul{ display: inline-block}
nav li{
	display: inline-block;
    width:186px; 
	font-size:1.25em; 
	line-height:30px; 
	text-align:center;
	border-left:1px dotted #D4D4D4}
nav li.endline{border-right:1px dotted #D4D4D4}		
nav a:link {text-decoration:none; color:#b5b1b1}
nav a:visited {text-decoration:none; color:#b5b1b1}
nav a:hover, nav a.navin{ 
    padding:2px 15px; 
	text-decoration:none; 
	color:#fff; 
	background-color:#3A3B3C;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px}

/*2.4 網站隱藏選單---------------------------*/
#mobile_btn{ display:none}

#top_menu{
	 width:100%;
	 height:60px;
	 background:#3A3B3C;
	 position: fixed;
	 top:-60px;
	 z-index:99}
#top_main{ display: block; width:1162px; margin:0 auto}	 
#top_main h2 a{ 
     display:block; 
	 float:left;
	 width:91px;
	 height:33px;
	 background:url(../images/logo_topmenu.png) no-repeat;
	 text-indent:-9999px;
	 margin:12px 100px 0 0}
#top_main ul{ display:block; float:left; margin:0 auto; padding-top:20px}	 	 
#top_main li{ display:inline; font-size:1.125em; line-height:25px; letter-spacing:1px}	
#top_main a:link {text-decoration:none; color:#fff; padding:0 30px}
#top_main a:visited {text-decoration:none; color:#b5b1b1}
#top_main a:hover {text-decoration:none; color:#fa8332}
#btn_totop a{
	display:block;
	float:right;
	width:37px;
	height:37px;
	background:url(../images/btn_totop.png) no-repeat;
	text-indent:-9999px;
	margin-top:12px;}
#btn_totop a:hover{ background:url(../images/btn_totop.png) 0 -37px no-repeat}	

/* 3. 內頁結構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/*3.1 卡片式列表---------------------------*/
#box_masonry{ display:block; width:100%}
.item_card{
	display:block;
	width:370px;
	margin:0 8px 50px;
	padding:0}
.item_img{ display:block; position:relative; width:370px}	
.item_img img, .blackmode img{ width:100%}
.tag-marketing, .tag-design, .tag-creative, .tag-life, .tag-news, .tag-idea{
	display:block;
	position:absolute;
	top:0;
	left:0;
	font-size:1em;
	color:#FFF;
	padding:5px 20px;
	text-align:center;
	letter-spacing:1px}
.tag-marketing{ background:#4B7081}
.tag-design{ background:#D5AA89}
.tag-creative{ background:#68434B}
.tag-life{ background:#F7B3BF}
.tag-news{ background:#A8C6E1}
.tag-idea{ background:#A8DBC9}
.tag_title{
	display:block;
	width:340px;
	margin:50px auto 30px auto;
	font-size:1.125em; 
	line-height:32px;
	padding:0;
	border:1px solid #3a3b3c;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px}
.tag_title span{
	padding:5px 15px;
	margin-right:8px;
	background:#3a3b3c;
	color:#FFF;
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px}

.blackmode{
	display:block;
	width:328px; 
    background:#2a2b2e; 
	padding:21px;
	font-size:0.938em;
	line-height:22px}
.blackmode .item_img{ display:block; width:330px}			
.blackmode a:link {text-decoration:none; color:#fff}
.blackmode a:visited {text-decoration:none; color:#fff}
.blackmode a:hover {text-decoration:none; color:#fa8332}

.card_titile{ display:block; padding:0 21px}
.tag{ display:block; border-bottom:1px solid #CACACA; padding:5px 0; margin-bottom:12px}
.tag li{ display:inline; font-size:0.938em; line-height:22px;}
.tag a:link {text-decoration:none; color:#a69f9c}
.tag a:visited {text-decoration:none; color:#a69f9c}
.tag a:hover {text-decoration:none; color:#fa8332}
.card_titile h3{ color:#3E4349; line-height:25px; padding-top:0}
.card_titile h3:hover{ color:#fa8332}
.card_titile p{font-size:0.938em; line-height:25px}
.card_titile a:link{ text-decoration:none; color:#a69f9c}
.card_titile a:visited {text-decoration:none; color:#a69f9c}
.card_titile a:hover {text-decoration:none; color:#fa8332}

#turn_page{ display:block; width:95% /*300px*/; margin:20px auto; text-align:center}
.btn_arrow, .page_number{ 
    display: inline-block;
	font-size:1em;
	text-align:center; 
	background:#fff/*#D5D5D5*/; 
	padding:5px 15px; 
	margin:0 10px;
	border:1px solid #727171}
.page_number{ width:30px}	
.btn_arrow{ width:40px}
#turn_page a:link{ text-decoration:none; color:#727171}
#turn_page a:hover, #turn_page a.page_in{text-decoration:none; background:#898A8A/*#3A3B3C*/; color:#fff}

/*3.2 愛客戶---------------------------*/
#box_customer{ display:block; width:100%}
#box_customer h3{
	display:block;
	width:100%;
	height:58px;
	background: url(../images/bg_titleline.png) repeat-x;
	font-size:1.8em;
	color:#2E2E2E;
	text-align:center;
	letter-spacing:1px;
	margin:0;
	padding:15px 0 0 0}
	 
#wall_customer{ display:block; width:940px; margin:15px auto 30px auto}
#wall_customer ul{ margin:0; padding:0}
#wall_customer li{
	display:inline-block;
	width:290px;
	margin:10px}
#wall_customer img{ display:block; width:290px; height:138px}
#wall_customer span{
	display:block;
	width: 270px;
	height:60px;
	background:#2E2E2E;
	padding:10px}
#wall_customer h4, #wall_customer p{ color:#FFF}		
#wall_customer h4{ font-size:1.25em; line-height:22px; padding-bottom:10px}
#wall_customer p{ font-size:0.938em; line-height:22px}	

#list_customer{ 
    display:block;
	position:relative;
	width:1102px;
	background:#eee;
	padding:20px 30px}
#list_customer h4{
	font-size:1.25em;
	padding-bottom:30px; 
    color:#848484}
#list_customer span{
	display:block;
	float:right;
	font-size:0.75em;
	line-height:22px;
	color:#7f7e7e}		
#list_customer ul{ display:block; margin:10px 0 80px}
#list_customer li{
	display:inline-block;
	width:200px;
	margin:0 15px 20px 0;
	font-size:0.938em;
	line-height:22px;
	color:#2E2E2E}
#list_customer p{
	display:block;
	position:absolute;
	width:445px;
	bottom:20px;
	right:30px;
	text-align:left;
	font-size:0.75em;
	line-height:25px;
	color:#7f7e7e}		




