/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/03  

***********************************************************************************************
		1 通用
		2.頁面結構 
		   2.1 關於i
		   2.2 文章內容
		   2.3 聯絡i
		     		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background: url(../images/bg_black.jpg) center top fixed;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#727171}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#fa8332}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 頁面結構 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ 
    display:block; 
	width:980px; 
	margin: 15px auto 30px auto;
	background:#FFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px}
#toTop{
	display:none;
	position:fixed;
	text-decoration:none;
	bottom:20px;
	right:20px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/btn_totop-1.png) no-repeat left top}
#toTopHover{
	background:url(../images/btn_totop-1.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0)}
#toTop:active, #toTop:focus{outline:none}

header{ 
    display:block; 
	position:relative; 
	width:980px;
	height:66px;
	background:#3a3b3c;
	margin:0 auto; 
	padding-top:14px}
header h1 a{
	display:block;
	width:219px;
	height:52px;
	background:url(../images/logo.png) no-repeat;
	margin:0 auto;
	text-indent:-9999px}
header .btn_back{
	display:block;
	position:absolute;
	width:37px;
	height:37px;
	top:26px;
	right:30px;
	background:url(../images/btn_back.png) no-repeat;
	text-indent:-9999px}
header .btn_back:hover{background:url(../images/btn_back.png) 0 -37px no-repeat}

/*2.1 關於i---------------------------*/
#container{ display:block; width:800px; margin:50px auto; padding-bottom:50px}
#container .title_about{
	display:block;
	float:left;
	width:50%;
	font-size:1.8em;
	line-height:35px;
	color:#313131}
#container .title_page{
	display:block;
	font-size:1.5em;
	line-height:35px;
	color:#313131;
	padding-bottom:10px}
		
#btn_social{
	display:block;
	float:right;
	width:50%}
#btn_social .btn_gplus, #btn_social .btn_fb, #btn_social .page_view{ display: block; float:right}
#btn_social .btn_gplus{width:80px}
#btn_social .btn_fb{ width:80px}
#btn_social .page_view{ 
    background:#616060; 
	font-size:0.813em; 
	color:#FFF;
	letter-spacing:1px; 
	padding:0 1px 0 8px;
	border:1px solid #3a3b3c}
#btn_social .page_view span{ 
    background:#FFF; 
	color:#3a3b3c; 
	margin-left:10px;
	padding:0 10px}		
#container h3{
	font-size:1.188em;
	color:#fa8332;
	line-height:40px}
	
#aboutme h3{ font-weight:normal}	
#container p{
	font-size:1em;
	line-height:28px;
	color:#727171}
#page_main p{ margin-bottom:30px}
	
#container img{ height: auto; max-width: 100%; margin-bottom:15px}	
#container .logo_about{margin:15px 0 30px 0}
#container .pic_right{ display:block; float:right; margin-left:20px}
#container .pic_left{ display:block; float:left; margin-right:20px}
#container .pic_why{margin-right:80px}	
#container .idesign_work{ display:block; margin:10px 0}
#container .idesign_work li{
	display: block;
	float:left;
	width:400px;
	height:110px;
	text-align:center;
	text-shadow: 1px 1px 0px #fff;
	padding-top:30px}
#container .idesign_work h4{ font-size:1em; line-height:35px; color:#908a8a}
#container .idesign_work p{ font-size:0.938em; line-height:22px; color:#fa8332}
#container .slogan{ font-size:1.375em; font-weight:normal; text-align:center; margin-top:40px}
#container .slogan span{ color:#727171}	
#container .btn_contact{
	display:block;
	font-size:1.375em;
	color:#fff;
	text-decoration:none;
	text-align:center;
	letter-spacing:1px;
	width:132px;
	margin:35px auto 0 auto;
	padding:10px 20px;
	border:1px solid #777777;
	background: -webkit-gradient(linear, left top, right top, from(#888888), to(#7B7B7B));
	background: -webkit-linear-gradient(top, #888888, #7B7B7B);
	background: -moz-linear-gradient(top, #888888, #7B7B7B);
	background: -o-linear-gradient(top, #888888, #7B7B7B);
	background: -ms-linear-gradient(top, #888888, #7B7B7B);
	background: linear-gradient(top, #888888, #7B7B7B);
	background-color: #888888;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;}
#container .btn_contact:hover{
	background: -webkit-gradient(linear, left top, right top, from(#4E5051), to(#3A3B3C));
	background: -webkit-linear-gradient(top, #4E5051, #3A3B3C);
	background: -moz-linear-gradient(top, #4E5051, #3A3B3C);
	background: -o-linear-gradient(top, #4E5051, #3A3B3C);
	background: -ms-linear-gradient(top, #4E5051, #3A3B3C);
	background: linear-gradient(top, #4E5051, #3A3B3C);
	background-color: #4E5051}
	
/*2.2 文章內文---------------------------*/
#page_tool{ display:block; padding-bottom:10px}
.page_info .time, .page_info .tag{ display:block; float:left; font-size:0.938em; line-height:25px}
.page_info .tag li{ display:inline-block}
.page_info .tag a:link {text-decoration:none; color:#a69f9c}
.page_info .tag a:visited {text-decoration:none; color:#a69f9c}
.page_info .tag a:hover {text-decoration:underline; color:#fa8332}

#page_turn{ display:block; width:100%; padding:30px 0}
.btn_previous, .btn_next{ display: block; width:375px; padding:15px 10px; font-size:1em; line-height:22px}
.btn_previous{ float:left}
.btn_next{ float:right}
.arrow_left; .arrow_right{ display: block; width:20px; text-align:center}
.arrow_left{ margin-right:15px}
.arrow_right{ float:right; margin-left:15px}
.title_left, .title_right{ display:block; width:335px}
.arrow_left, .title_left{ float:left}
.arrow_right, .title_right{ float:right; text-align:right}
#page_turn a:link, #page_turn a:visited{
	color:#FFF;
	text-decoration:none;
	background: -webkit-gradient(linear, left top, right top, from(#4E5051), to(#3A3B3C));
	background: -webkit-linear-gradient(top, #4E5051, #3A3B3C);
	background: -moz-linear-gradient(top, #4E5051, #3A3B3C);
	background: -o-linear-gradient(top, #4E5051, #3A3B3C);
	background: -ms-linear-gradient(top, #4E5051, #3A3B3C);
	background: linear-gradient(top, #4E5051, #3A3B3C);
	background-color: #4E5051}
#page_turn a:hover {
	color:#FFF;
	text-decoration:none;
	background: -webkit-gradient(linear, left top, right top, from(#888888), to(#7B7B7B));
	background: -webkit-linear-gradient(top, #888888, #7B7B7B);
	background: -moz-linear-gradient(top, #888888, #7B7B7B);
	background: -o-linear-gradient(top, #888888, #7B7B7B);
	background: -ms-linear-gradient(top, #888888, #7B7B7B);
	background: linear-gradient(top, #888888, #7B7B7B);
	background-color: #888888}

/*2.3 聯絡i---------------------------*/	
#box_contact{ display:block; width:100%}
#box_contact h3{
	display:block;
	width:100%;
	height:58px;
	background: url(../images/bg_titleline.png) repeat-x;
	font-size:1.8em;
	color:#2E2E2E;
	text-align:center;
	letter-spacing:1px;
	margin:0;
	padding:15px 0 0 0}
#box_contact .pic_contact{ display:block; float:left; margin:10px 20px 0 0}
#box_contact h4{ font-size:1.125em; color:#cf7448; font-weight: normal; padding-top:15px}
#box_contact .txt_about{ font-size:0.938em; line-height:22px; color:#cf7448; padding:20px 0 10px; color:#727171}
#box_contact .contact_info{ display:block; position:relative}
#box_contact .contact_info p{ font-size:0.938em; line-height:25px; color:#cf7448}
#box_contact .contact_info span{ display:block; position:absolute; bottom:0; right:0}
#box_map{ display:block; float:right; width:430px; height:266px; margin-top:20px}
#box_title{ display:block; padding-top:170px}
#box_title .slogan-02{ font-size:1em; font-weight:normal; padding-bottom:30px}
#box_title .slogan-02 span{ color:#727171}
#box_title .title_messages{
	display:block;
	background:url(../images/icon_message.png) no-repeat;
	padding-left:70px;
	height:55px;
	font-size:1em;
	font-weight:bold;
	color:#727171}

#box_messages p{
	font-size:0.938em;
	line-height:22px;
	color:#cf7448}
#form_massage{ 
   display:block; 
   width:770px; 
   margin:10px 0 20px 0;
   font-size:.938em;
   line-height:22px}	
#form_massage .item_01, #form_massage .item_02, #form_massage .item_03, #form_massage .item_04, #form_massage .item_05{
	display: block;
	width:100%;
	padding:10px 15px}
#form_massage .item_01, #form_massage .item_03, #form_massage .item_05{ background:#F0F0F0}
#form_massage .item_02, #form_massage .item_04{ background:#F7F7F7}
.pot_red{ color:#cf7448; padding-right:5px}
#form_massage .txt_area, #form_massage .txt_area02{
	padding:5px 10px;
	margin-left:15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #999;
	font-size:1em;
	line-height:25px}
#form_massage .txt_area:focus, #form_massage .txt_area02:focus{
	-webkit-box-shadow: 0 0 5px #cf7448;
	-moz-box-shadow: 0 0 5px #cf7448;
	-o-box-shadow: 0 0 5px #cf7448;
	-ms-box-shadow: 0 0 5px #cf7448;
	box-shadow: 0 0 5px #cf7448}	
	
#form_massage .w150{width:150px}
#form_massage .w350{width:440px}
#form_massage .radio-01{ margin:0 8px 0 15px}
#form_massage .radio-02{ margin-right:8px}	
#form_massage .text_name, #form_massage .text_sex, #form_massage .text_mail, #form_massage .text_phone{ display:inline}
#form_massage .text_sex{ margin-left:20px}
#form_massage .text_phone{ margin-left:20px}
.form_note{
	display:block;
	font-size:0.813em;
	color:#cf7448;
	line-height:18px}
.note_right{ float:right}
.note_left{ float:right; padding-right:275px}
.form_title{ display:block; float:left; padding-top:30px}
#form_massage .txt_area02{ float:left}

#form_btn{ display:block; width:100%; text-align:center; padding-top:30px}
.btn_submit, .btn_reset{ 
    display:inline-block; 
	width:170px; 
	height:40px;
	font-size:1em;
	color:#FFF;
	letter-spacing:1px;
	margin:0 5px}
.btn_submit{
	background: -webkit-gradient(linear, left top, right top, from(#dd6e05), to(#c74c06));
	background: -webkit-linear-gradient(top, #dd6e05, #c74c06);
	background: -moz-linear-gradient(top, #dd6e05, #c74c06);
	background: -o-linear-gradient(top, #dd6e05, #c74c06);
	background: -ms-linear-gradient(top, #dd6e05, #c74c06);
	background: linear-gradient(top, #dd6e05, #c74c06);
	background-color: #dd6e05;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:1px solid #a3633d}
.btn_submit:hover{
	cursor:pointer;
	background: -webkit-gradient(linear, left top, right top, from(#c74c06), to(#A53F05));
	background: -webkit-linear-gradient(top, #c74c06, #A53F05);
	background: -moz-linear-gradient(top, #c74c06, #A53F05);
	background: -o-linear-gradient(top, #c74c06, #A53F05);
	background: -ms-linear-gradient(top, #c74c06, #A53F05);
	background: linear-gradient(top, #c74c06, #A53F05);
	background-color: #c74c06;}
.btn_reset{
	background: -webkit-gradient(linear, left top, right top, from(#888888), to(#7B7B7B));
	background: -webkit-linear-gradient(top, #888888, #7B7B7B);
	background: -moz-linear-gradient(top, #888888, #7B7B7B);
	background: -o-linear-gradient(top, #888888, #7B7B7B);
	background: -ms-linear-gradient(top, #888888, #7B7B7B);
	background: linear-gradient(top, #888888, #7B7B7B);
	background-color: #888888;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:1px solid #838383}
.btn_reset:hover{
	cursor:pointer;
	background: -webkit-gradient(linear, left top, right top, from(#4E5051), to(#3A3B3C));
	background: -webkit-linear-gradient(top, #4E5051, #3A3B3C);
	background: -moz-linear-gradient(top, #4E5051, #3A3B3C);
	background: -o-linear-gradient(top, #4E5051, #3A3B3C);
	background: -ms-linear-gradient(top, #4E5051, #3A3B3C);
	background: linear-gradient(top, #4E5051, #3A3B3C);
	background-color: #4E5051}		