/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2014/03  

***********************************************************************************************/

/*1024桌機適用*/
@media screen and (min-width:960px) and (max-width:1251px){
#top_main{ display:block; width:960px; margin:0 auto}
#top_main h2 a{ margin-right:0} 
header{ display:block; width:960px; margin:0 auto}
#contenter{ display:block; width:960px; margin:0 auto; padding:15px 0 30px}
.item_card{
	display:block;
	width:300px;
	margin:0 10px 50px;
	padding:0}
.item_img{ display:block; position:relative; width:300px}
.blackmode{
	display:block;
	width:258px; 
    background:#2a2b2e; 
	padding:21px;
	font-size:0.938em; 
	line-height:22px}
.blackmode .item_img{ display:block; width:258px}					
#sub_nav{display:block; width:960px; margin:0 auto}
#list_customer{width:900px}
}

/*768平板畫面*/
@media screen and (min-width:768px) and (max-width:959px){
#top_main{ display:block; width:724px; margin:0 auto}
#top_main h2 a{ margin-right:0}
#top_main li{ display:inline; font-size:1em; line-height:25px; letter-spacing:1px}	 
#top_main a:link {text-decoration:none; color:#fff; padding:0 15px}
header{ display:block; width:724px; margin:0 auto}
#contenter{ display:block; width:724px; margin:0 auto; padding:15px 0 30px}
.item_card{
	display:block;
	width:342px;
	margin:0 10px 50px;
	padding:0}
.item_img{ display:block; position:relative; width:342px}
.blackmode{
	display:block;
	width:300px; 
    background:#2a2b2e; 
	padding:21px;
	font-size:0.938em; 
	line-height:22px}
.blackmode .item_img{ display:block; width:310px}					
#sub_nav{display:block; width:724px; margin:0 auto}
#wall_customer, #list_customer{width:664px}
}

/*小平板與手機之間*/
@media screen and (max-width: 767px) {
#top_main{ display:block; width:724px; margin:0 auto}
#top_main h2 a{ margin-right:0} 
#top_main li{ display:inline; font-size:1em; line-height:25px; letter-spacing:1px}	 
#top_main a:link {text-decoration:none; color:#fff; padding:0 15px}
header{ display:block; width:724px; margin:0 auto}
#contenter{ display:block; width:724px; margin:0 auto; padding:15px 0 30px}
.item_card{
	display:block;
	width:342px;
	margin:0 10px 50px;
	padding:0}
.item_img{ display:block; position:relative; width:342px}
.blackmode{
	display:block;
	width:300px; 
    background:#2a2b2e; 
	padding:21px;
	font-size:0.938em; 
	line-height:22px}
.blackmode .item_img{ display:block; width:310px}					
#sub_nav{display:block; width:724px; margin:0 auto}
#wall_customer, #list_customer{width:664px}	
}

/*480手機畫面*/
@media screen and (max-width:481px){
#top_main, #subtool, .flex-control-nav, nav{ display:none}
#page_top{ display:block; position:fixed; width:100%; height:60px; background:#3a3b3c; z-index:999}
header{ display:block; position:relative; width:306px; margin:0 auto; padding-top:7px}
header h1 a{
	display:block;
	position:absolute;
	width:185px;
	height:44px;
	background:url(../images/logo-m.png) no-repeat;
	text-indent:-9999px;
	/*margin:0 auto;*/}
#contenter{ display:block; width:306px; margin:0 auto; padding:75px 0 30px}
.item_card{
	display:block;
	width:300px;
	margin:30px auto 30px auto;
	padding:0}
.item_img{ display:block; position:relative; width:300px}
.blackmode{
	display:block;
	width:258px; 
    background:#2a2b2e; 
	padding:21px;
	font-size:0.938em; 
	line-height:22px}
.blackmode .item_img{ display:block; width:258px}
#main_content{padding-bottom:68px}
footer{
	display:block;
	width:100%;
	height:55px;
	background:#3a3b3c;
	margin-top:-68px;
	padding-top:13px;
	color:#fbf8f8;
	text-align:center}					
#sub_nav{display:block; width:300px; margin:0 auto}	
#sub_nav .pd-right{ padding-right:0}
#sub_nav .copyright{ display:block; padding:5px 0 0 0; font-size:.875em}

#mobile_btn{ display:block}
.nav{display: none}
.toggle{
	display:block;
	position:absolute;
	width:44px;
	height:44px;
	background:url(../images/btn_mobile-menu.png) no-repeat;
	top:0;
	right:0;
	text-indent:-9999px;
	margin-top:10px}
.nav ul{ margin:52px 0 0 0; padding:0; border-top:1px solid #828282;}	
.nav li a{ 
    display:block; 
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: none; 
	width:100%;
	padding:10px 15px;
	background:#3a3b3c;
	border-bottom:1px solid #828282;
	font-size:1.125em;
	line-height:25px;
	color:#FFF;
	text-decoration:none}
/*.nav li a{ padding: 10px 15px}*/
.nav li a:hover{ background:#828282; color:#fff}
.arrow-bottom { top: 20px}

#box_customer h3{font-size:1.313em; height:48px; padding:25px 0 0 0 }
#wall_customer{width:306px}
#list_customer{ width:246px; padding:20px 30px}
#list_customer p{
	display:block;
	position:absolute;
	bottom:20px;
	left:15px;
	right:15x;
	font-size:0.75em;
	color:#7f7e7e}
.tag_title{
	width:280px; 
	margin:15px auto 0; 
	font-size:.938em; 
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap}
.tag_title span{padding:7px 15px}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min--moz-device-pixel-ratio: 2)
{ header h1 a{background:url(../images/logo-m@2x.png) no-repeat; background-size:185px 44px} }